@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
:root{
    --primaria:#181823;
    --secundaria:#E9F8F9;
    --terciaria:#537FE7;
    --hover:#85a8fc;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montsserat', sans-serif;
}




* {/* geral */
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--primaria) ;
    color: var(--secundaria);
}

/* ***** CABEÇALHO ***** */
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link:hover{
    color: var(--hover);
   
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--terciaria);
    text-decoration: none;
}
/* ***** CABEÇALHO ***** */

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__imagem{
    width: 50%;
}

.titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque {
    color: var(--terciaria);
}
.texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}
.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links_navegacao { /* ----BOTOES-- */
   
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    color: var(--secundaria);
    border: 3PX outset var(--terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}
.apresentacao__links_navegacao:hover{
    background-color: var(--hover);
    color: var(--primaria);
    font-weight: bold;
    border-radius: 200px;
    transition: 400ms;
    width: 17em;
   
}

.git{
    width: 30px;
}

.rodape{
    color: var(--primaria);
    background-color: var(--terciaria);
    padding: 24px;
    text-align: center;
    font-size: 1.5rem ;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--terciaria);
}


/* ----TELAS DE ATÉ 1200PX---- */
@media (max-width: 1200px){
    .cabecalho{
        padding:5%;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
        align-self: center;
    }
   
}